* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1vw;
    margin: 1vw;
    height: 100vh;
}

[class*="orange"] {
    background-color: #ff6900;
}

.orange-center {
    grid-row: span 2;
}

.green {
    background-color: #00696c;
    grid-row: span 2;
}

[class*="magenta"] {
    background-color: #6a0934;
}

.magenta-right {
    grid-row: span 2;
}