* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: black;
  font-family: Anybody, sans-serif;
  font-size: 1vw;
  font-weight: 400;
  line-height: 1.6;
}

:root {
  --royal-blue: #035dff;
  --pink: #ffb4ce;
  --yellow: #fff460;
  --tomato: #ff6541;
  --greyed-out: #0000003d;
  --pale-turquoise: #9ef3f3;
  --magenta: #ff59ff;
}

h1 {
  letter-spacing: 0.02em;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Gulfs Display, sans-serif;
  font-size: 6.5em;
  font-weight: 400;
  line-height: 0.9;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Gulfs Display, sans-serif;
  font-size: 6em;
  font-weight: 400;
  line-height: 1;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Gulfs Display, sans-serif;
  font-size: 3.9em;
  font-weight: 400;
  line-height: 0.9;
}

h4 {
  letter-spacing: 0.04em;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Gulfs Display, sans-serif;
  font-size: 2em;
  font-weight: 400;
  line-height: 1.1;
}

h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Gulfs Display, sans-serif;
  font-size: 1.9em;
  font-weight: 400;
  line-height: 1.4;
}

h6 {
  letter-spacing: 0.09em;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Gulfs Display, sans-serif;
  font-size: 1.3em;
  font-weight: 400;
  line-height: 1.4;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.2em;
  font-weight: 500;
  line-height: 1.5;
}

a {
  color: black;
  font-size: 1em;
  text-decoration: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

.container {
  width: 1440px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 6.8em 3.6em;
}

nav {
  width: 100%;
}

.container.is-nav {
  justify-content: space-between;
  align-items: stretch;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  display: flex;
  background-color: var(--pink);
  width: auto;
}

.nav_menu {
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.nav_link {
  justify-content: flex-start;
  align-items: center;
  margin-left: 2.9em;
  display: flex;
  position: relative;
}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

.nav_icon {
  width: 1.6em;
  margin-right: 1.1em;
}

.section {
  z-index: 3;
  background-color: white;
  position: relative;
}

.section.is-hero {
  z-index: 5;
  background-color: var(--pink);
  position: relative;
  width: 100%;
}

.container.is-hero {
  color: var(--royal-blue);
  text-align: center;
  padding: 13em 0 0;
  width: auto;
}

.hero_title {
  z-index: 5;
  width: 58em;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.hero_photos {
  z-index: 2;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: -2.6em;
  display: flex;
  position: relative;
}

.hero_img1 {
  background-color: black;
  border: 1.1px solid #000;
  border-radius: 3em;
  width: 28em;
  height: 35em;
  margin-top: 8.2em;
  margin-left: -4.7em;
  overflow: hidden;
}

.hero_img2 {
  background-color: black;
  border: 1.1px solid #000;
  border-radius: 100vw;
  width: 36em;
  height: 56em;
  overflow: hidden;
}

.hero_img3 {
  background-color: black;
  border: 1.1px solid #000;
  border-radius: 3em;
  width: 19em;
  height: 25.3em;
  margin-top: -12.4em;
  margin-right: 3.6em;
  position: absolute;
  inset: 0% 0% auto auto;
  overflow: hidden;
}

.hero_fill1 {
  background-image: url("../img/hero_fill1.jpg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.hero_fill2 {
  z-index: 1;
  background-image: url("../img/hero_fill2.jpg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
}

.hero_fill3 {
  background-image: url("../img/hero_fill3.jpg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.hero_large-img-contain {
  z-index: 4;
  position: relative;
  margin-left: 7%;
}

.hero_star1 {
  width: 5em;
  margin-top: 5.3em;
  margin-left: -7em;
  position: absolute;
  inset: 0% auto auto 0%;
}

.hero_star2 {
  width: 3.2em;
  margin-top: 12.8em;
  margin-right: -5.8em;
  position: absolute;
  inset: 0% 0% auto auto;
}

.hero_star3 {
  width: 2.4em;
  margin-top: -7.6em;
  margin-left: -12.8em;
  position: absolute;
  inset: 0% auto auto 0%;
}

.hero_shape1 {
  z-index: 5;
  width: 9.4em;
  margin-top: 20.3em;
  margin-left: -4.8em;
  position: absolute;
  inset: 0% auto auto 0%;
}

.hero_shape2 {
  width: 8.7em;
  margin-top: 4.2em;
  margin-right: -12.3em;
  position: absolute;
  inset: 0% 0% auto auto;
}

.hero_small-img-contain {
  z-index: 2;
  width: 30em;
  position: relative;
}

.hero_circle-contain {
  width: 14em;
  height: 14em;
  margin-bottom: 24.1em;
  margin-right: 14.1em;
  position: absolute;
  inset: auto 0% 0% auto;
}

.hero_circle {
  z-index: 6;
  background-image: url("/img/hero_circle-new-01.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
}

.hero_bottom {
  z-index: 1;
  background-color: var(--yellow);
  border-top: 1.1px solid #000;
  height: 31.2em;
  position: absolute;
  inset: auto 0% 0%;
}

.section.is-about {
  z-index: 4;
  background-color: var(--yellow);
  position: relative;
  width: 100%;
}

.container.is-about {
  padding-top: 0;
  padding-bottom: 3.8em;
  width: auto;
}

.about_dots {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.about_top-contain {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.about_top-icon {
  width: 3.2em;
}

.about_top-text {
  margin-left: 1em;
  margin-right: 1em;
  font-size: 11px;
  font-weight: 700;
}

.about_contain {
  justify-content: center;
  align-items: center;
  display: flex;
}

.about_left {
  z-index: 2;
  position: relative;
  transform: rotate(-4deg);
}

.about_img {
  background-color: white;
  color: var(--royal-blue);
  border: 1.1px solid #000;
  width: 32em;
  padding: 1.1em;
  position: relative;
}

.about_img-shadow {
  z-index: -1;
  background-color: var(--pink);
  border: 1.1px solid #000;
  width: 100%;
  height: 100%;
  margin-top: 1em;
  margin-right: 1em;
  position: absolute;
  inset: 0% 0% auto auto;
}

.about_img-shadow.is-2 {
  margin-top: 2em;
  margin-right: 2em;
}

.about_photo {
  z-index: 2;
  background-color: black;
  cursor: auto;
  border: 1.1px solid #000;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 36em;
  display: flex;
  position: relative;
  overflow: hidden;
}

.about_photo > img {
  width: 100%;
}

.about_right {
  width: 40.3em;
  margin-left: 7.6em;
  position: relative;
}

.about-heading {
  font-size: 10.7em;
  color: var(--yellow);
  -webkit-text-stroke: 2.5px var(--royal-blue);
}

.about_content {
  padding-top: 2.4em;
}

.about_star {
  width: 8em;
  margin-bottom: -3.9em;
  margin-right: 3.8em;
  position: absolute;
  inset: auto 0% 0% auto;
}

.about_ring {
  width: 10em;
  margin-bottom: -3.5em;
  margin-right: 11.6em;
  position: absolute;
  inset: auto 0% 0% auto;
}

.about_dots.is-bottom {
  margin-top: 3.9em;
}

.section.is-pricing {
  width: 100%;
}

.container.is-pricing {
  border-top: 1.1px solid #000;
  border-left: 1.1px solid #000;
  border-right: 1.1px solid #000;
  padding: 0;
  width: auto;
}

.pricing_top {
  border-bottom: 1.1px solid #000;
  justify-content: space-between;
  align-items: stretch;
  display: flex;
}

.pricing_top-left {
  border-right: 1.1px solid #000;
  width: 40%;
}

.pricing_title {
  background-color: var(--pink);
  color: var(--tomato);
  border-bottom: 1.1px solid #000;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 50%;
  padding-left: 5.1em;
  padding-right: 5.1em;
  display: flex;
}

.pricing_hours {
  background-color: var(--pink);
  color: var(--royal-blue);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  padding: 0 5.1em;
  display: flex;
}

.pricing_hours-top {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 1.4em;
  display: flex;
}

.pricing_hours-heading {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.pricing_hours-number {
  background-color: var(--royal-blue);
  color: white;
  border: 1.1px solid #000;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 2.8em;
  height: 2.8em;
  display: flex;
}

.pricing-slider {
  width: 100%;
}

.pricing_top-right {
  justify-content: space-between;
  align-items: stretch;
  width: 60%;
  display: flex;
}

.pricing_top-small {
  background-color: white;
  color: var(--royal-blue);
  text-align: center;
  outline: 1.1px solid #000;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33.3333%;
  padding: 4.1em 1.1em;
  display: flex;
  position: relative;
}

.pricing_top-small.is-yellow {
  background-color: var(--yellow);
  color: var(--tomato);
  outline: 1.1px solid #000;
}

.switch {
  width: 60%;
}

.pricing_rings {
  width: 9em;
  margin-bottom: -1.6em;
  margin-left: -2.1em;
  position: absolute;
  inset: auto auto 0% 0%;
}

.pricing_top-small.is-blue {
  background-color: var(--royal-blue);
  color: white;
  border-right-width: 0;
  outline: 1.1px solid #000;
}

.pricing_photo-mobile {
  background-color: var(--yellow);
  color: var(--royal-blue);
  text-align: center;
  border-right: 1.1px solid #000;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33.5%;
  padding-top: 6.7em;
  padding-bottom: 6.7em;
  display: none;
  outline: 1.1px solid #000;
}

.counter {
  width: 67%;
}

.pricing_knob-img {
  width: 43%;
}

.pricing_knob-img:active {
  transform: scale(0.95);
}

.film {
  color: var(--greyed-out);
}

.pricing_camera {
  width: 9em;
  margin-bottom: -2.5em;
  margin-left: -2.8em;
  position: absolute;
  inset: auto auto 0% 0%;
}

.pricing_camera > img {
  width: 100%;
}

.pricing_bottom {
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.pricing_map-and-photo {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  width: 60%;
  display: flex;
}

.pricing_photo {
  background-color: var(--yellow);
  color: var(--royal-blue);
  text-align: center;
  border-right: 1.1px solid #000;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33.5%;
  padding-top: 6.7em;
  padding-bottom: 6.7em;
  display: flex;
}

.pricing_map {
  background-color: black;
  color: white;
  border-right: 1.1px solid #000;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 66.5%;
  padding: 2em 0;
  display: flex;
}

.pricing_map-top {
  justify-content: space-between;
  align-items: center;
  width: 30em;
  padding-bottom: 1.4em;
  display: flex;
}

.pricing_map-heading {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.p2 {
  font-size: 1.4em;
}

.pricing_map-bottom {
  width: 30em;
  position: relative;
}

.pricing_map-img {
  z-index: 1;
  position: relative;
}

.pricing_bottom-right {
  width: 40%;
}

.pricing_total {
  background-color: var(--tomato);
  color: var(--pink);
  border-bottom: 1.1px solid #000;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: auto;
  height: 50%;
  padding-left: 6em;
  padding-right: 2.3em;
  display: flex;
}

.pricing_total-number {
  color: var(--yellow);
}

.pricing_form {
  background-color: var(--pink);
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: auto;
  height: 50%;
  padding-left: 6.1em;
  padding-right: 6.1em;
  display: flex;
  position: relative;
}

.pricing_form-block {
  z-index: 3;
  margin-bottom: 0;
  position: relative;
}

.w-form {
  margin: 0 0 15px;
}

.pricing_form-contain {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.pricing_form-left {
  width: 100%;
}

.pricing_form-left > h6{
  color: var(--tomato);
}

.pricing_form-left > h4{
  font-size: 1.9em;
}

.tricks-press {
  background-color: var(--tomato);
  text-align: center;
  cursor: pointer;
  border: 1.1px solid #000;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 6em;
  min-width: 6em;
  height: 6em;
  margin-left: 1.1em;
  transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
  display: flex;
  position: relative;
  box-shadow: 4px 4px #000;
}

.tricks-press_text {
  font-size: 0.8em;
  font-weight: 700;
  line-height: 1.2;
}

.tricks-press:active {
  transform: scale(0.95);
  box-shadow: 2px 2px #000;
}

.section.is-footer {
  background-color: var(--pink);
  border-top: 1.1px solid #000;
  border-bottom: 1.1px solid #000;
  overflow: hidden;
  width: 100%;
}

.container.is-footer {
  justify-content: space-between;
  align-items: center;
  min-height: 91vh;
  display: flex;
  width: auto;
}

.footer_left {
  z-index: 5;
  width: 50%;
  height: 46em;
  position: relative;
}

.sticker {
  cursor: grab;
  width: 11em;
  margin-top: 1em;
  margin-left: 1em;
  transition: transform 0.3s cubic-bezier(0.77, 0, 0.175, 1);
  position: absolute;
  inset: 0% auto auto 0%;
}

.sticker:hover {
  transform: scale(1.05);
}

.sticker:active {
  transform: rotate(9deg) scale(1.05);
}

.sticker.is-1 {
  width: 30em;
  margin-top: 7.2em;
  margin-left: 8em;
}

.sticker.is-2 {
  width: 16.4em;
  margin-top: 0.9em;
  margin-left: 3.4em;
  z-index: -1;
}

.sticker.is-3 {
  width: 11em;
  margin-top: -0.9em;
  margin-left: 20.2em;
}

.sticker.is-4 {
  width: 11em;
  margin-top: 1.2em;
  margin-left: 32.9em;
}

.sticker.is-5 {
  width: 5em;
  margin-top: 14.5em;
  margin-left: 37em;
}

.sticker.is-6 {
  width: 10.4em;
  margin-top: 19em;
  margin-left: 33.6em;
}

.sticker.is-7 {
  width: 6em;
  margin-top: 27em;
  margin-left: 33.7em;
}

.sticker.is-8 {
  width: 11em;
  margin-top: 34em;
  margin-left: 33em;
}

.sticker.is-9 {
  width: 18em;
  margin-top: 34.2em;
  margin-left: 6.7em;
}

.sticker.is-10 {
  width: 9em;
  margin-top: 37.8em;
  margin-left: 5.9em;
}

.sticker.is-11 {
  width: 9em;
  margin-top: 28em;
  margin-left: 4.1em;
}

.sticker.is-12 {
  width: 6.7em;
  margin-top: 18.1em;
  margin-left: 1.3em;
}

.footer_right {
  z-index: 3;
  width: 50%;
  padding-left: 3.2em;
  position: relative;
}

.footer_form-heading {
  color: var(--royal-blue);
  margin-bottom: 0.3em;
  line-height: 0.8;
}

.footer_form {
  margin-bottom: 0;
  padding-left: 2.3em;
  padding-right: 2.3em;
}

.footer_paragraph {
  margin-bottom: 2.1em;
}

.footer_arrow-back {
  justify-content: center;
  align-items: center;
  width: 1.2em;
  height: 1.2em;
  margin-right: 1.3em;
  display: flex;
  inset: 0% 0% 0% auto;
}

.w-slider-arrow-left,
.w-slider-arrow-right {
  cursor: pointer;
  color: #fff;
  -webkit-tap-highlight-color: #0000;
  -webkit-user-select: none;
  user-select: none;
  width: 80px;
  margin: auto;
  font-size: 40px;
  position: absolute;
  inset: 0;
  overflow: hidden;
}

.w-slider-arrow-left [class^="w-icon-"],
.w-slider-arrow-right [class^="w-icon-"],
.w-slider-arrow-left [class*=" w-icon-"],
.w-slider-arrow-right [class*=" w-icon-"] {
  position: absolute;
}

.w-slider-arrow-left:focus,
.w-slider-arrow-right:focus {
  outline: 0;
}

.w-slider-arrow-left {
  z-index: 3;
  right: auto;
}

.footer_arrow {
  width: 40%;
}

.footer_arrow-forward {
  background-color: var(--tomato);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 1.2em;
  height: 1.2em;
  display: flex;
}

.footer_bottom {
  background-color: white;
  border: 1.1px solid #000;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 5.8em;
  display: flex;
  box-shadow: -4px 4px #000;
}

.footer_copyright {
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-left: 2.7em;
  padding-right: 2.7em;
  display: flex;
}

.footer_text {
  font-size: 0.8em;
}

.footer_privacy {
  white-space: nowrap;
  border-left: 1.1px solid #000;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-left: 1.9em;
  padding-right: 1.9em;
  display: flex;
}

.footer_link {
  text-decoration: underline;
}

.footer_link:hover {
  color: var(--royal-blue);
}

.footer_social {
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.social_icon {
  border-left: 1.1px solid #000;
  padding: 0.6em;
}

.social_link {
  background-color: var(--yellow);
  border: 1.1px solid #000;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 3.5em;
  min-width: 3.5em;
  height: 3.5em;
  transition: all 0.2s cubic-bezier(0.77, 0, 0.175, 1);
  display: flex;
}

.social_link:hover {
  transform: scale(0.95);
}

.social_link.is-light-blue {
  background-color: var(--pale-turquoise);
}

.social_img {
  object-fit: contain;
  width: 50%;
  height: 50%;
}

.social_link.is-pink {
  background-color: var(--pink);
}

@media screen and (max-width: 767px) {
  body {
    font-size: 1.85vw;
  }

  h1 {
    font-size: 5.8em;
  }

  p {
    font-size: 14px;
  }

  .container {
    padding: 3.6em 1.5em;
  }

  .container.is-hero {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .container.is-about {
    padding-top: 7.1em;
  }

  .container.is-work {
    padding-top: 9.1em;
    padding-bottom: 9.1em;
  }

  .container.is-nav {
    font-size: 11px;
  }

  .container.is-footer {
    flex-direction: column;
    justify-content: center;
    padding-top: 6.9em;
    padding-bottom: 6.9em;
  }

  .nav_logo {
    z-index: 3;
    position: relative;
  }

  .nav_menu {
    z-index: 2;
    background-color: var(--pink);
    border-bottom: 1.1px solid #000;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 9em 3.4em 4.2em;
    display: none;
    position: absolute;
    inset: 0% 0% auto;
  }

  .nav_link {
    margin-bottom: 0.4em;
    margin-left: 0;
    font-size: 2.4em;
  }

  .hero_title {
    width: 100%;
  }

  .hero_photos {
    justify-content: center;
    width: auto;
    position: relative;
  }

  .hero_large-img-contain {
    margin-left: 0;
  }

  .hero_small-img-contain {
    z-index: 5;
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0%;
  }

  .hero_small-img-contain.is-first {
    width: auto;
    margin-top: 12.1em;
    margin-left: 2.2em;
    position: absolute;
    inset: 0% auto auto 0%;
  }

  .hero_small-img-contain.is-second {
    width: auto;
    position: absolute;
    inset: auto 0% 0% auto;
  }

  .hero_img1 {
    z-index: 2;
    opacity: 1;
    border-radius: 100vw;
    width: 100%;
    height: 100%;
    margin-top: 0;
    margin-left: 0;
  }

  .hero_img3 {
    opacity: 1;
    border-radius: 100vw;
    width: 100%;
    height: 100%;
    margin-top: 0;
    margin-bottom: -10.4em;
    margin-right: 1.9em;
    position: relative;
    inset: 0% auto 0% 0%;
  }

  .hero_star3 {
    margin-left: -5em;
  }

  .hero_shape2 {
    margin-top: 4.8em;
    margin-right: -6.9em;
  }

  .hero_shape1 {
    z-index: 20;
    display: none;
  }

  .chat {
    font-size: 16px;
  }

  .about_contain {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding-top: 4.4em;
  }

  .about_right {
    margin-bottom: 7.7em;
    margin-left: 0;
  }

  .work_wrap.is-other-row {
    display: none;
  }

  .work_img-wide {
    border-radius: 3em;
    width: 46em;
    height: 35em;
  }

  .work_img-tall {
    border-radius: 3em;
    width: 27em;
    height: 35em;
  }

  .work_row {
    height: 35.2em;
  }

  .hero_circle-contain {
    z-index: 10;
    margin-bottom: -3.6em;
    margin-left: -6em;
    margin-right: 0;
    inset: auto auto 0% 0%;
  }

  .pricing_title {
    height: auto;
    padding-top: 4.1em;
    padding-bottom: 4.1em;
  }

  .pricing_top-left {
    border-right-width: 0;
    width: 100%;
  }

  .pricing_top-right {
    border: 1.1px solid #000;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .pricing_top-small.is-yellow {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: auto;
  }

  .pricing_top-small {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    width: auto;
  }

  .pricing_top-small.is-blue {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    width: auto;
  }

  .pricing_top-right .pricing_photo-mobile {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    width: auto;
  }

  .pricing_top-right {
    font-size: 1.5em;
  }

  .switch {
    width: 68%;
  }

  .counter {
    width: 76%;
  }

  .pricing_knob-img {
    width: 58%;
  }

  .pricing_bottom .pricing_photo {
    display: none;
  }

  .pricing_map-and-photo {
    width: 100%;
  }

  .pricing_map {
    width: 100%;
  }

  .pricing_top {
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
  }

  .pricing_hours {
    height: auto;
    padding-top: 4.1em;
    padding-bottom: 4.1em;
  }

  .pricing_bottom {
    flex-direction: column;
  }

  .pricing_bottom-right {
    width: 100%;
  }

  .pricing_total {
    border-top: 1.1px solid #000;
    padding-top: 3.3em;
    padding-bottom: 3.3em;
  }

  .pricing_form {
    padding-top: 4.2em;
    padding-bottom: 4.2em;
  }

  .pricing_form-field {
    font-size: 16px;
  }

  .footer_left {
    width: 44em;
    margin-bottom: 3.2em;
    margin-left: auto;
    margin-right: auto;
  }

  .footer_right {
    width: 100%;
    padding-left: 0;
  }

  .footer_right.is-404 {
    text-align: center;
    align-items: center;
    padding-left: 2.5em;
    padding-right: 2.5em;
  }

  .footer_bottom {
    flex-wrap: wrap;
  }

  .footer_copyright {
    border-bottom: 1.1px solid #000;
    justify-content: flex-start;
    padding-top: 1.4em;
    padding-bottom: 1.4em;
  }

  .footer_text {
    font-size: 11px;
  }

  .footer_privacy {
    text-align: left;
    justify-content: flex-start;
    width: 50%;
    padding-left: 2.7em;
    padding-right: 2.7em;
  }

  .chat_box {
    max-width: 90vw;
  }

  .chat_field {
    font-size: 16px;
  }

  .bookmark {
    font-size: 12px;
  }

  .bookmark_form {
    max-width: 90vw;
  }

  .bookmark_contain {
    margin-left: 4vw;
  }

  .bookmark_field {
    font-size: 16px;
  }

  .loader_star1.loader_shapes.stars {
    margin-left: -5em;
  }

  .loader_star2.loader_shapes.stars {
    margin-left: -11.1em;
  }

  .loader_shape3.loader_shapes {
    margin-bottom: -15.4em;
    margin-left: -8.8em;
  }

  .loader_shape4.loader_shapes.stars {
    margin-right: -11em;
  }

  .loader_shape5.loader_shapes {
    margin-top: -15.6em;
    margin-right: -2.8em;
  }

  .loader_shape6.loader_shapes {
    margin-bottom: -12.2em;
    margin-right: -6.4em;
  }

  .eyeball-physics {
    background-size: 80vw;
  }

  .fixed_achnor {
    height: 60vh;
  }

  .pricing_map-and-photo {
    width: 100%;
  }

  .nav_icon-link {
    z-index: 4;
    border: 1.1px solid #000;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    width: 5em;
    height: 5em;
    padding: 0;
    display: flex;
    position: relative;
    box-shadow: 2px 2px #000;
  }

  .nav_hamburger {
    width: 44%;
    height: 44%;
  }

  .w-hidden-main,
  .w-hidden-medium {
    display: inherit !important;
  }

  .w-hidden-small {
    display: none !important;
  }

  .w-row,
  .w-container .w-row {
    margin-left: 0;
    margin-right: 0;
  }

  .w-col {
    width: 100%;
    left: auto;
    right: auto;
  }

  .w-col-small-1 {
    width: 8.33333%;
  }

  .w-col-small-2 {
    width: 16.6667%;
  }

  .w-col-small-3 {
    width: 25%;
  }

  .w-col-small-4 {
    width: 33.3333%;
  }

  .w-col-small-5 {
    width: 41.6667%;
  }

  .w-col-small-6 {
    width: 50%;
  }

  .w-col-small-7 {
    width: 58.3333%;
  }

  .w-col-small-8 {
    width: 66.6667%;
  }

  .w-col-small-9 {
    width: 75%;
  }

  .w-col-small-10 {
    width: 83.3333%;
  }

  .w-col-small-11 {
    width: 91.6667%;
  }

  .w-col-small-12 {
    width: 100%;
  }

  .w-nav-brand {
    padding-left: 10px;
  }

  .w-nav[data-collapse="small"] .w-nav-menu {
    display: none;
  }

  .w-nav[data-collapse="small"] .w-nav-button {
    display: block;
  }

  .w-nav-brand {
    padding-left: 10px;
  }
}

@font-face {
  font-family: "Gulfs Display";
  src: url("../fonts/GulfsDisplay-Normal.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Anybody";
  src: url("../fonts/Anybody-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Anybody";
  src: url("../fonts/Anybody-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Anybody";
  src: url("../fonts/Anybody-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Anybody";
  src: url("../fonts/Anybody-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}