.background {
  position: absolute;
  background-color: black;
  width: 1920px;
  height: 1080px;
}

.backgroundimg {
  position: absolute;
  width: 1920px;
  margin-top: -100px;
}

.kario {
  position: absolute;
  height: 176px;
  margin-top: 452px;
  margin-left: 862px;
}