body{
    display: grid;
    grid-template: 1fr 1fr 1fr / 2fr 1fr 1fr;
    margin: 25px;
    row-gap: 1em;
    column-gap: 1em;

}

.box{
    height: 1lh;
    background-color: palegreen;
    border: 2px solid dodgerblue;
    border-radius: 5px;
    font-family: sans-serif;
}