.container{
    display: grid;
    margin: 10px;
    grid-template-columns: repeat(4, 25%);
    border: 1px solid orange;
    grid-template: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr / fr 1fr 1fr 1fr;
}

.sun{
    border: 1px solid orange;
    grid-column: span 4;
    grid-row: span 2;
    align-items: center;
}

img{
    width: 25%;
    text-align: center;
}

.cloud{
    border: 1px solid orange;
    grid-column: span 2;
    grid-row: span 2;
}

.rain{
    border: 1px solid orange;
    grid-row: span 2;
}

.rainx2{
    border: 1px solid orange;
    grid-column: span 2;
    grid-row: span 2;
}

.dragonfly{
    border: 1px solid orange;
}

.butterfly{
    border: 1px solid orange;
}

.flower1{
    grid-column: span 1;
    grid-row: span 3;
}

.flower2{
    grid-column: span 1;
    grid-row: span 3;
}

.flower3{
    grid-column: span 1;
    grid-row: span 3;
}

.flower4{
    border: 1px solid orange;
    grid-column: span 1;
    grid-row: span 3;
}